<style>
    .db-edition-checkboxes {
        display: block;
    }
</style>

<label class="db-edition-checkboxes" ng-repeat="(key, val) in $ctrl.value">
    {{key}}: <input type="checkbox" ng-disabled="!$ctrl.edit" ng-model="$ctrl.value[key]">
</label>


